@import url("https://fonts.googleapis.com/css2?family=Inconsolata&display=swap");
html {
  font-size: calc(15px + 0.390625vw);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inconsolata", monospace;
}

main {
  width: 100vw;
  height: 100vh;
  position: relative;
}
main .left-main-section {
  width: 70%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-right: 2px solid #b83434;
}
main .left-main-section .left-top-main-section {
  position: absolute;
  top: 0;
  left: 0;
  height: 60vh;
  width: 70vw;
  border-bottom: 2px solid #b83434;
  display: flex;
  justify-content: center;
  align-content: center;
}
main .left-main-section .left-top-main-section .navbar {
  border-right: 2px solid #b83434;
  width: 5vw;
  height: 60vh;
}
main .left-main-section .left-top-main-section .gleisstellpult {
  width: 65vw;
  height: 60vh;
}
main .left-main-section .left-bottom-main-section {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40vh;
  width: 70vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
main .left-main-section .left-bottom-main-section .day-night {
  width: 18.6666666667vw;
  height: 40vh;
  border-right: 2px solid #b83434;
}
main .left-main-section .left-bottom-main-section .lights {
  width: 28vw;
  height: 40vh;
  border-right: 2px solid #b83434;
}
main .left-main-section .left-bottom-main-section .auto-manual-mode-selector {
  width: 23.3333333333vw;
  height: 40vh;
}
main .right-main-section {
  width: 30%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
main .right-main-section .section-lok1 {
  border-bottom: 2px solid #b83434;
  width: 30vw;
  height: 33.3333333333vh;
}
main .right-main-section .section-lok2 {
  border-bottom: 2px solid #b83434;
  width: 30vw;
  height: 33.3333333333vh;
}
main .right-main-section .section-lok3 {
  width: 30vw;
  height: 33.3333333333vh;
}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 60vh;
  width: 5vw;
}
.navbar ul li {
  list-style: none;
  padding: 15%;
  font-size: 1.2rem;
  color: #cc5858;
}
.navbar ul li:hover {
  color: #b83434;
  cursor: pointer;
}

.flexday {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  height: 100%;
}
.flexday .timeicon {
  font-size: 7rem;
}
.flexday .timeicon i.fa-sun {
  color: #d5c406;
}
.flexday .timeicon i.fa-moon {
  color: #031761;
}
.flexday .timespan {
  font-size: 1.3rem;
  padding-left: 5%;
  padding-right: 5%;
}
.flexday .time-adjust {
  display: flex;
  align-items: center;
}
.flexday .time-adjust i {
  font-size: 1.05rem;
  color: #484848;
}
.flexday .time-adjust i:hover {
  cursor: pointer;
  color: #000;
}
.flexday .dntogglers {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 50%;
  padding-top: 5%;
}
.flexday .dntogglers i {
  font-size: 1.1rem;
  color: #484848;
}
.flexday .dntogglers i:hover {
  cursor: pointer;
  color: #000;
}

.auto-manual-mode-selector {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  width: 100%;
  text-align: center;
}
.auto-manual-mode-selector .activated-script-container h4, .auto-manual-mode-selector .always-running-scripts-container h4 {
  font-size: 0.8rem;
}
.auto-manual-mode-selector .driving-mode-select-container {
  font-size: 0.6rem;
}
.auto-manual-mode-selector .add-new-script-btn {
  color: #3ca137;
}
.auto-manual-mode-selector .add-new-script-btn:hover {
  cursor: pointer;
  color: #2c7128;
}
.auto-manual-mode-selector .label {
  pointer-events: none;
  display: flex;
  align-items: center;
}
.auto-manual-mode-selector .switch {
  pointer-events: all;
  cursor: pointer;
}
.auto-manual-mode-selector .input {
  display: none;
}
.auto-manual-mode-selector .input:checked + .label .left, .auto-manual-mode-selector .input:not(:checked) + .label .right {
  pointer-events: all;
  cursor: pointer;
}
.auto-manual-mode-selector .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.auto-manual-mode-selector .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.auto-manual-mode-selector .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.auto-manual-mode-selector input:checked + .label .slider {
  background-color: #b83434;
}
.auto-manual-mode-selector input:focus + .label .slider {
  box-shadow: 0 0 1px #b83434;
}
.auto-manual-mode-selector input:checked + .label .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.auto-manual-mode-selector .slider.round {
  border-radius: 34px;
}
.auto-manual-mode-selector .slider.round:before {
  border-radius: 50%;
}
.auto-manual-mode-selector .left, .auto-manual-mode-selector .right {
  margin: 0 0.5em;
}
.auto-manual-mode-selector .left.selected, .auto-manual-mode-selector .right.selected {
  font-weight: bold;
}/*# sourceMappingURL=main.css.map */